# Configuración de la base de datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=sistema_pagos

# Configuración de Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# Configuración del servidor
PORT=3000
SESSION_SECRET=dH7O1X3P5M8Y2Q4Z6N9W0T8R3E7U1I5L2K4J6G9F0D8S

STRIPE_SECRET_KEY=